<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"></section>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="ConsoleApp1" />
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects" />
  <assembly name="ConsoleApp1" />
    <namespace name="Microsoft.Practices.Unity.GuardSupport" />
    <assembly name="ContainerUnityFw" />
    <container name="FirstClass">
      
      <instance type="string" value="string default value"></instance>

      <instance type="int" value="1213"></instance>

      <instance type="int" name="hhjj" value="12173"></instance>

      <instance type="string" name="first" value="first"></instance>
      <instance type="string" name="second" value="second"></instance>
      <instance type="string" name="third" value="33333"></instance>
      
      <register type="IClass" name="ch" mapTo="CbClass">
        <lifetime type="singleton">
          
        </lifetime>
      </register>
      <register type="IClass" name="ec" mapTo="EcClass">
        <!--<lifetime type="ContainerControlledLifetimeManager" />-->
        <lifetime type="singleton" />
      </register>

      <register type="ArrayDependencyObject[]" name="defaultInjection">
        <property name="Loggers">
          <array>
            <dependency name="ch"></dependency>
            <dependency name="ec"></dependency>
          </array>
        </property>
        <property name="Stuff">
          <array>
            <!--<dependency name="first"></dependency>
            --><!--<value value="Not the second"></value>-->
              <!--
            <dependency name="third"></dependency>-->
          </array>
        </property>
      </register>

      <extensions>
        <add type="MockContainerExtension" />
      </extensions>

      <!--<register type="ArrayDependencyObject">
        <property name="Loggers" />
      </register>-->

      <!--<register type="GenericObjectWithConstructorDependency`2" name="basic"> Erro-->
      <!--<register type="GenericObjectWithConstructorDependency[]" name="basic"> Right-->
      <register type="GenericObjectWithConstructorDependency`1" name="basic">
        <constructor>
          <!-- little back compat test - genericParameterName is now ignored (兼容测试-现在忽略了genericParameterName)-->
          <param name="value" genericParameterName="NoSuchParameter">
            <!--<value value="Not the second"></value>Not support value element with a genera para-->
            
            <!--<dependency name="third"></dependency>-->
            
          </param>
        </constructor>
      </register>

      <register type="ArrayDependencyObject`1" name="hfiuyuei">
        <method name="Initialize"><!--means: call the method after instance with specfied param value-->
          <param name="connectionString">
            <value value="Not the second"/>
          </param>
          <param name="class">
            <dependency name="ch"></dependency>
          </param>
        </method>
      </register>

      <register type="ObjectWithOverloads" name="callFirstOverloadTwice">
        <!--<method name="CallMe">
          <param name="param" type="int" value="121"/>--><!--></param>--><!--
        </method>-->
        <!--<method name="CallMe">
          <param name="param" type="int" value="12111"/>
            --><!--<value>111</value>--><!--
            --><!--<value value="111"></value>--><!--
          </param>--><!--
        </method>-->
        <method name="CallMe">
          <param name="param" type="string" value="some string" />
        </method>
        <!--<method name="CallMe">
          <param name="param" type="int">
            <dependency name="hhjj"></dependency>
        </param>
        </method>-->
        <method name="CallMe">
          <param name="param" type="int" dependencyName="hhjj"></param>
        </method>
      </register>
    </container>
  </unity>
  
</configuration>