<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"></section>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="ConsoleApp1" />
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects" />
    <namespace name="Microsoft.Practices.Unity.Configuration.Tests.TestObjects.MyGenericTypes"></namespace>
  <assembly name="ConsoleApp1" />
    <namespace name="Microsoft.Practices.Unity.GuardSupport" />
    <assembly name="ContainerUnityFw" />
    
    <container name="container1">

      <!---->
      <register type="IGenericService[]" mapTo="MyPrintService[]">
        <constructor>
          <param name="status" type="string" value="hee"></param>
        </constructor>
      </register>

      <register type="IItem" mapTo="DiggerItem" name="digger">
        <constructor>
          <param name="name" type="System.String" value="hhhh"></param>
          <param name="bucketWidth" type="System.Int32" value="15"></param>
        </constructor>
        <!--<property name="Logger">
          <optional name="validLogger" />
        </property>-->
      </register>

      <!--<register type="object" name="digger" mapTo="DiggerItem">-->
      <register type="object" name="digger" >
        <lifetime type="singleton" />
        <!--<property name="Logger">
          <optional name="validLogger" />
        </property>-->
      </register>

      <register type="ItemsCollection[]" name="ThroughConstructorWithSpecificElements">
        <constructor>
          <param name="name" type="string" value="hdgsh"></param>
          <param name="printService"></param>
          <param name="itemsArray">
            <array>
              <array>
                <dependency name="digger" />
              </array>
              <array/>
              <array>
                <dependency name="digger" />
              </array>
            </array>
          </param>
        </constructor>
        <property name="Items">
          <array>
            <!--<dependency name="digger" />-->
          </array>
        </property>
        <property name="Item" dependencyName="digger" dependencyType="object"/>
      </register>

      <register name="resolvable" type="IGenericService[]" mapTo="MyPrintService[]" />
    </container>
    
  </unity>
  
</configuration>